app = "devops-pipeline-nico4all-munoza05"

[build]
  dockerfile = "./Dockerfile"
  context = "./backend"
[env]
  PORT = "3000"

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
