apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: dev
spec:
  type: NodePort
  selector:
    app: backend-app
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080